.section {
  text-align:center;
  font-size: 3em;
  font-family: 'Noto Serif SC';
}
#moveUp{
  top: 0px;
  left: 0px;
  padding: 10px;
  border-radius: 10px;
  position:fixed;
  z-index:999;
  font-size: 2em;
}

