.big-image {
  width:300px;
  position:relative;
  margin-bottom:0.25em;
}
.big-image img {
  max-width:100%;
}
.thumb-images {
  position:relative;
  width:300px;
}
.thumbs {
  width:300px;
  overflow-x:auto;
  white-space:nowrap;
}
.thumb-images img {
  width:70px;
  box-sizing:border-box;
}
.thumb-images img.active {
  border:1px solid black;
}
.arrow {
  position:absolute;
  bottom:50%;
  transform:translateY(50%);
  color:white;
}
.arrow.right {
  right:1em;
}
.arrow.left {
  left:1em;
}
@media (max-width:500px) {
  .thumb-images .arrow {
    display:none;
  }
}